<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo Người Dùng Mới</title>
</head>
<body>
    <h1>Tạo Người Dùng Mới</h1>
    <form action="/users/create" method="POST">
        <div>
            <label for="name">Tên tài khoản: </label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="password">Mật khẩu: </label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="address">Địa chỉ: </label>
            <input type="text" name="address" required>
        </div>
        <div>
            <button type="submit">Tạo Người Dùng</button>
        </div>
    </form>
    <a href="/users/list">Quay lại danh sách người dùng</a>
</body>
</html>
