<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Register Page</h1>
    <form action="/auth/register" method="POST">
        <div>
            <label for="name">Tên người dùng: </label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="email">Tài khoản Email:</label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="address">Địa chỉ:</label>
            <input type="text" name="address" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    <p><a href="/auth/login">Quay lại trang đăng nhập</a></p>
</body>

</html>
